<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="wip" version="2.5">
    <display-name>WIPortlet</display-name>

    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/core_rt</taglib-uri>
            <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/fmt_rt</taglib-uri>
            <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
        </taglib>
    </jsp-config>

    <servlet>
        <servlet-name>ResourceHandler</servlet-name>
        <servlet-class>fr.ippon.wip.servlet.ResourceHandler</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResourceHandler</servlet-name>
        <url-pattern>/ResourceHandler/*</url-pattern>
    </servlet-mapping>

	<listener>
		<listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
	</listener>
	
    <listener>
    	<listener-class>fr.ippon.wip.http.hc.HttpClientSessionListener</listener-class>
    </listener>
</web-app>
